
{{ 'best-sellers.css' | asset_url | stylesheet_tag }}

<div class="best-sellers__container container">
  <div class="best-sellers__collections">
    <p class="best-sellers__pretitle">Best sellers</p>
    <h2 class="best-sellers__title">Trending Products</h2>

    <ul class="best-sellers__collections-list">
      <li>
        <button class="best-sellers__item">
          <h3 class="best-sellers__item-title">
            Mantra Rings
          </h3>

          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.4297 5.93005L20.4997 12.0001L14.4297 18.0701" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.5 12H20.33" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </li>
      <li>
        <button class="best-sellers__item inactive">
          <h3 class="best-sellers__item-title">
            Mantra Rings
          </h3>

          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.4297 5.93005L20.4997 12.0001L14.4297 18.0701" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.5 12H20.33" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </li>
    </ul>
  </div>

  <div class="best-sellers__preview">
    <a class="best-sellers__preview-img-wrapper" href="#">
      <img class="best-sellers__preview-img" src="https://cdn.shopify.com/s/files/1/0742/2627/0381/files/Img.jpg?v=1765903194" alt="Best sellers banner">
    </a>

    <div class="best-sellers__badges">
      <div class="best-sellers__bagde best-sellers__bagde--new">New</div>
      <div class="best-sellers__bagde best-sellers__bagde--sale">Sale</div>
    </div>

    <div class="best-sellers__btns">
      <button class="best-sellers__wishlist-btn">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.8382 4.60999C20.3274 4.099 19.721 3.69364 19.0535 3.41708C18.3861 3.14052 17.6707 2.99817 16.9482 2.99817C16.2257 2.99817 15.5103 3.14052 14.8428 3.41708C14.1754 3.69364 13.5689 4.099 13.0582 4.60999L11.9982 5.66999L10.9382 4.60999C9.90647 3.5783 8.5072 2.9987 7.04817 2.9987C5.58913 2.9987 4.18986 3.5783 3.15817 4.60999C2.12647 5.64169 1.54688 7.04096 1.54688 8.49999C1.54687 9.95903 2.12647 11.3583 3.15817 12.39L4.21817 13.45L11.9982 21.23L19.7782 13.45L20.8382 12.39C21.3492 11.8792 21.7545 11.2728 22.0311 10.6053C22.3076 9.93789 22.45 9.22248 22.45 8.49999C22.45 7.77751 22.3076 7.0621 22.0311 6.39464C21.7545 5.72718 21.3492 5.12075 20.8382 4.60999V4.60999Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button class="best-sellers__atc-btn">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.5819 12C15.5819 13.98 13.9819 15.58 12.0019 15.58C10.0219 15.58 8.42188 13.98 8.42188 12C8.42188 10.02 10.0219 8.42004 12.0019 8.42004C13.9819 8.42004 15.5819 10.02 15.5819 12Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M11.9998 20.27C15.5298 20.27 18.8198 18.19 21.1098 14.59C22.0098 13.18 22.0098 10.81 21.1098 9.39997C18.8198 5.79997 15.5298 3.71997 11.9998 3.71997C8.46984 3.71997 5.17984 5.79997 2.88984 9.39997C1.98984 10.81 1.98984 13.18 2.88984 14.59C5.17984 18.19 8.46984 20.27 11.9998 20.27Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    <div class="best-sellers__preview-info">
      <a class="best-sellers__preview-name" href="#">Mantra Rings</a>
      <div class="best-sellers__preview-price-wrapper">
        <p class="best-sellers__preview-price best-sellers__preview-price--current">₴1,424.00</p>
        <p class="best-sellers__preview-price best-sellers__preview-price--old">₴1,424.00</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Best Sellers",
  "tag": "section",
  "class": "best-sellers",
  "settings": [],
  "presets": [
    {
      "name": "Best Sellers"
    }
  ]
}
{% endschema %}